gcp/*
*.pth
*.png
.ipynb_checkpoints/
*.zip
images_train/*
images_valid/*
images_test/*
gz2_vit_09*.csv
*local*.ipynb
trained_models/*
notebooks/*
classAll_4label_temp.csv
old_ver_readme.md

model_parameters.md
gz2_resnet50*e33.csv

GalaxyZoo2_ViT_Pytorch.ipynb

galaxyZoo/*

gz2_ViT_Pytorch.ipynb
ViT_distillation.ipynb

model/*

poster/*

selfsupervised/*
