[submodule "AutoCast_Scenes"]
	path = AutoCast_Scenes
	url = git@github.com:hangqiu/AutoCast_Scenes.git
[submodule "AutoCastSim"]
	path = AutoCastSim
	url = git@github.com:hangqiu/AutoCastSim.git
	branch = master
