/ay_hw_1/asnlib/publicdata/review.json
/ay_hw_1/asnlib/publicdata/business.json
/venv
/ay_hw_1/python/.idea
/ay_hw_1/python/out
/ay_hw_1/.idea
/ay_hw_2/.idea
/ay_hw_2/out
/project/data/user.json
/project/data/train_review.json
/ay_hw_2/data/small3.csv
/ay_hw_2/data/business.json
/ay_hw_2/data/review.json
/ay_hw_2/data/review_sample.json
/ay_hw_3/data
/ay_hw_3/out
/ay_hw_4/out
/ay_hw_3/.idea/.gitignore
/ay_hw_3/.idea/ay_hw_3.iml
/ay_hw_3/.idea/dictionaries/AARON_PREDATOR.xml
/ay_hw_3/.idea/inspectionProfiles/profiles_settings.xml
/ay_hw_3/.idea/misc.xml
/ay_hw_3/.idea/modules.xml
/ay_hw_3/.idea/vcs.xml
/ay_hw_4/.idea/.gitignore
/ay_hw_4/.idea/ay_hw_4.iml
/ay_hw_4/.idea/dictionaries/AARON_PREDATOR.xml
/ay_hw_4/.idea/inspectionProfiles/profiles_settings.xml
/ay_hw_4/.idea/misc.xml
/ay_hw_4/.idea/modules.xml
/ay_hw_4/.idea/vcs.xml
/ay_hw_4/python/edges
/ay_hw_4/python/vertexes
/ay_hw_5/.idea/.gitignore
/ay_hw_5/.idea/ay_hw_5.iml
/ay_hw_5/.idea/dictionaries/AARON_PREDATOR.xml
/ay_hw_5/.idea/inspectionProfiles/profiles_settings.xml
/ay_hw_5/.idea/misc.xml
/ay_hw_5/.idea/modules.xml
/ay_hw_5/.idea/vcs.xml
/ay_hw_6/.idea/.gitignore
/ay_hw_6/.idea/ay_hw_6.iml
/ay_hw_6/.idea/dictionaries/AARON_PREDATOR.xml
/ay_hw_6/.idea/encodings.xml
/ay_hw_6/.idea/inspectionProfiles/profiles_settings.xml
/ay_hw_6/.idea/misc.xml
/ay_hw_6/.idea/modules.xml
/ay_hw_6/.idea/vcs.xml
/ay_hw_5/data/cluster1.json
/ay_hw_5/data/cluster2.json
/ay_hw_5/data/cluster3.json
/ay_hw_5/data/cluster4.json
/ay_hw_5/data/cluster5.json
/ay_hw_5/data/test1/data0.txt
/ay_hw_5/data/test1/data1.txt
/ay_hw_5/data/test1/data2.txt
/ay_hw_5/data/test1/data3.txt
/ay_hw_5/data/test1/data4.txt
/ay_hw_5/data/test2/data0.txt
/ay_hw_5/data/test2/data1.txt
/ay_hw_5/data/test2/data2.txt
/ay_hw_5/data/test2/data3.txt
/ay_hw_5/data/test2/data4.txt
/ay_hw_5/data/test2/data5.txt
/ay_hw_5/data/test2/data6.txt
/ay_hw_5/data/test2/data7.txt
/ay_hw_5/data/test2/data8.txt
/ay_hw_5/data/test2/data9.txt
/ay_hw_5/data/test3/data0.txt
/ay_hw_5/data/test3/data1.txt
/ay_hw_5/data/test3/data2.txt
/ay_hw_5/data/test4/data0.txt
/ay_hw_5/data/test4/data1.txt
/ay_hw_5/data/test4/data2.txt
/ay_hw_5/data/test4/data3.txt
/ay_hw_5/data/test4/data4.txt
/ay_hw_5/data/test4/data5.txt
/ay_hw_5/data/test5/data0.txt
/ay_hw_5/data/test5/data1.txt
/ay_hw_5/data/test5/data2.txt
/ay_hw_5/data/test5/data3.txt
/ay_hw_5/data/test5/data4.txt
/ay_hw_5/data/test5/data5.txt
/ay_hw_5/data/test5/data6.txt
/ay_hw_5/data/test5/data7.txt
/ay_hw_5/out/cluster1.json
/ay_hw_5/out/cluster2.json
/ay_hw_5/out/cluster3.json
/ay_hw_5/out/cluster4.json
/ay_hw_5/out/cluster5.json
/ay_hw_5/out/intermediate1.csv
/ay_hw_5/out/intermediate2.csv
/ay_hw_5/out/intermediate3.csv
/ay_hw_5/out/intermediate4.csv
/ay_hw_5/out/intermediate5.csv
/ay_hw_5/python/__pycache__/__init__.cpython-36.pyc
/ay_hw_6/data/business.json
/ay_hw_6/data/business_first.json
/ay_hw_6/data/business_second.json
/ay_hw_6/data/generate_stream.jar
/ay_hw_6/out/task1.csv
/ay_hw_6/out/task2.csv
/ay_hw_6/out/task2_2.csv
/ay_hw_6/out/task2_3.csv
/ay_hw_6/out/task3.csv
/ay_hw_6/out/task3_3.csv
/ay_hw_5/test/__init__.py
/ay_hw_5/test/binary_search.py
/ay_hw_5/test/bubble_sort.py
/ay_hw_5/test/merge_sort.py
/ay_hw_5/test/selection_sort.py
/project/.idea
/project/out
/project/python
/project/resource/asnlib/publicdata
/ay_hw_3/.idea
