pytorch-lightning==1.2
scikit-image
matplotlib
scipy
imageio
opencv-python
gdown==4.4.0
pycocotools
pyyaml
tqdm
jinja2
smplx
sklearn
chumpy
jupyter_bbox_widget
jupyter
trimesh
submitit
easydict
omegaconf