progress
chumpy
numpy~=1.17.2
Pillow~=5.1.0
easydict~=1.9
termcolor~=1.1.0
visdom
matplotlib
joblib
https://github.com/PyMesh/PyMesh/releases/download/v0.2.1/pymesh2-0.2.1-cp36-cp36m-linux_x86_64.whl


