
*ipynb_checkpoints*
data/arxiv_citations/desktop.ini
data/arxiv_citations/hep-th-abs.tar.gz
data/arxiv_citations/hep-th-citations
data/arxiv_citations/hep-th-citations.tar.7z
data/arxiv_citations/hep-th-citations.tar.gz
data/arxiv_citations/hep-th-slacdates.tar.gz
data/knowledge_closure.csv
data/mammal_closure.csv
data/mammals_filter.txt
data/mammals_sample.tsv
data/mathematics_closure.csv
data/noun_closure.csv
data/science_closure.csv
/data/network_datasets/
*__pycache__*
hyperbolic_kmeans/enron/emails.csv
applications/brain_connectome/embed/
*.ini
*.bz2
*.pyc