absl-py==0.15.0
aiohttp==3.6.3
astor==0.8.1
async-timeout==3.0.1
attrs==20.2.0
audioread==2.1.9
backcall==0.2.0
backports.functools-lru-cache==1.6.4
blinker==1.4
brotlipy==0.7.0
cachetools==4.1.1
certifi==2021.10.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==2.0.0
cma==3.1.0
colorama==0.4.4
cryptography==36.0.0
cycler==0.11.0
cytoolz==0.11.2
dask==2022.1.1
decorator==5.1.1
entrypoints==0.3
fonttools==4.29.0
fsspec==2022.1.0
gast==0.2.2
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.43.0
h5py==2.8.0
idna==2.10
imagecodecs==2021.11.20
imageio==2.14.1
importlib-metadata==4.10.1
ipykernel==5.3.4
ipython==7.31.1
ipython-genutils==0.2.0
jedi==0.18.1
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
locket==0.2.0
Markdown==3.3.6
matplotlib==3.5.1
matplotlib-inline==0.1.3
mtcnn==0.1.1
multidict==4.7.6
munkres==1.1.4
nest-asyncio==1.5.4
networkx==2.5
numpy==1.21.5
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==3.4.2.17
opencv-python==3.4.2.17
opt-einsum==3.3.0
packaging==21.3
parso==0.8.3
partd==1.2.0
pickleshare==0.7.5
Pillow==9.0.0
pip==22.0.2
pooch==1.5.2
prompt-toolkit==3.0.26
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.11.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==3.0.7
pyreadline==2.1
PySocks==1.7.1
python-dateutil==2.8.2
PyWavelets==1.2.0
pywin32==303
PyYAML==6.0
pyzmq==22.3.0
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.7.0
setuptools==60.5.0
six==1.16.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==3.0.0
tifffile==2021.11.2
toolz==0.11.2
tornado==6.1
tqdm==4.50.2
traitlets==5.1.1
typing_extensions==4.0.1
unicodedata2==14.0.0
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==0.16.1
wheel==0.37.1
win-inet-pton==1.1.0
wrapt==1.13.3
yarl==1.6.2
zipp==3.7.0
